@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
.blur-edges::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: inherit;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.3); /* Adjust the shadow and color as needed */
  filter: blur(10px); /* Adjust the blur amount as needed */
}
